@model IEnumerable<ASPCoreTask1MVC.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course Details</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherId)
            </td>
           <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CourseId" class="btn btn-warning">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
